.edit-trip-details-button {
    margin: 0.5rem !important;
    cursor: pointer!important;
    padding: 3px!important;
    border: none!important;
    font-family: "Poppins", serif!important;
    font-weight: 400!important;
    font-size: small!important;
    color: black !important;
    display: flex!important;
    align-items: center!important;
    outline: 1px solid black!important;
    border-radius: 5px!important;
    background-color: var(--color-lightyellow-button)!important;
}

