.main-div {
    outline: 2px solid #bdbdbd;
    box-sizing: border-box;
    position: relative;
    border-radius: 35px;
    background-image: url('../../assets/images/test5.jpg');
    background-size: auto;
    background-position: center;
    text-align: center;
    display: flex; /* Add this line to make it a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column;
    margin: 0;
    max-width: 98%;
    height: 90vh;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 850px) {
    .main-div {
        max-width: 95%;
    }
}

@media (max-width: 550px) {
    .main-div {
        max-width: 92%;
        height: 87vh;
    }
}

.img-box {
    outline: 1px solid #dcdcdc;
    border-radius: 20px;
    width: 134px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.img-box img {
    width: 100px;
}

@media (max-width: 850px) {
    .img-box {
        width: 100px;
        height: 80px;
    }

    .img-box img {
        width: 80px;
    }
}

.main-heading {
    font-weight: 400;
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.second-heading {
    font-weight: 400;
    font-size: 5rem;
    color: #6a6a6a;
    margin: 0;
    text-align: center;
}

@media (max-width: 850px) {
    .main-heading {
        font-size: 3rem;
    }

    .second-heading {
        font-size: 3rem;
    }
}

.third-heading {
    margin: 0;
    text-align: center;
    padding: 0 10px
}