.trip-name {
    width: 40%;
    @media (max-width: 900px) {
        width: 70%;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}

.start-date {
    width: 30%;
    min-width: 8rem;
    @media (max-width: 800px) {
        width: 50%;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}

.end-date {
    width: 30%;
    min-width: 8rem;
    @media (max-width: 800px) {
        width: 50%;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}

.description {
    width: 100%;
    @media (max-width: 800px) {
        width: 100%;
    }
}