:root {
    --color-lightgray-outline: #bdbdbd;
    --color-blue-symbol: #00acb4;
    --color-light-black: #393e45;
    --color-dark-black: #222831;
    --color-lightgray: #EEEEEE;
    --color-gray-outline: #6a6a6a;
    --color-darker-blue: #005875;
}