:root {
    --color-lightblue: #7ed6df7a;
    --color-lightgray: #f5f5f5;
    --color-lightgray-outline: #bdbdbd;
    --color-blue-login-register-button: #1bc7fc;
    --color-blue-login-register-button-outline: #6a6a6a;
    --color-lightblue-button: #bfe2ff;
    --color-lightgreen-button-share: #c7ffb5;
    --color-lightgreen-button-save: #aaff7c;
    --color-lightyellow-button: #fff4b1;
    --color-lightred-button: #ff7373;
}