.logo-img {
    margin-right: "8px";
    display: "flex";
    height: "55px";
}

@media (max-width: 900px) {
    .logo-img {
        margin-right: "0px";
        display: "none";
        height: "55px";
    }
  }
  