.navbar {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 50%;
    outline: 1px solid red;
    justify-content: center;

    @media (max-width: 900px) {
        display: none;
    }
}
