.navbar {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 50%;
    justify-content: center;

    @media (max-width: 800px) {
        display: none;
    }
}

.hamburger {
    display: none;
    cursor: pointer;

    @media (max-width: 800px) {
        display: block;
    }
}

.header-container {
    display: flex;
    padding: 3px 36px;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    width: 25%;
    align-items: center;
    gap: 12px;
}

.header-right {
    width: 25%;
    text-align: end;
    @media (max-width: 800px) {
        display: none;
    }
}

.text-ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drawer-style {
    background-color: #ffffff !important;
    width: 40%;
    display: flex;
    padding: 0 12px;
    flex-direction: column;
    gap: 10px;
}

.drawer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    text-align: center;
}

.drawer-hello {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0;
}

.button-style {
    color: black !important;
    white-space: nowrap;
}
