.activity-action-style {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.activity-description-div {
    outline: 1px solid black;
    border-radius: 10px;
    height: 8rem;
    text-align: left;
    padding: 0.5rem;
}

.activity-headers {
    font-weight: 400;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.activity-location {
    font-weight: 400;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.activity-name {
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}