.description-div {
    outline: 1px solid black;
    border-radius: 10px;
    height: 10rem;
    text-align: left;
    padding: 0.5rem;
}

.card-action-style{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.more-info-button{
    border: none!important;
    font-family: inherit!important;
    font-weight: 400!important;
    font-size: medium!important;
    padding: 6px 8px!important;
    margin: 0!important;
    display: flex!important;
    color: black !important;
    align-items: center!important;
    outline: 1px solid black!important;
    border-radius: 5px!important;
    background-color: var(--color-blue-symbol)!important;
    cursor: pointer!important;
}