.share-container {
    margin: 0.5rem;
    cursor: pointer;
    padding: 3px;
    border: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: small;
    display: flex;
    align-items: center;
    outline: 1px solid black;
    border-radius: 5px;
    background-color: var(--color-lightyellow-button);
}
