.save-register-button {
    color: black !important;
    outline: 1px solid var(--color-blue-login-register-button-outline) !important;
    background-color: var(--color-blue-login-register-button) !important;
}